.social-list {
  justify-content: center;
  display: flex;

  &__item {
    fill: currentColor;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--social-link-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  &__link:hover,
  &__link:focus {
    background-color: var(--accent-colore);
    fill: var(--white-colore);
  }
}
